*.pyc
*~
__pycache__
myenv
db.sqlite3
/static
.DS_Store
.vs
30th sep
VirtualBox_Kali Seventh_04_12_2018_22_32_04.png
C++ Programs
I.T screenshot
JEE brochures
Lord Demonort
Pyhton programs
Pykey from instructables
pynput-master
Riffat didi codes 
Riffat resurrected images
Riffat subject projects
Welcome.vbs
